* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

 body {
    min-height: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(154, 241, 143);
  }

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5rem;
  }
  
  .container>div {
    height: 34px;
    width: 34px;
    background-color: white;
    border: 1px solid black;
  }
  
  .container>div:nth-child(17n + 1) {
    width: 100%;
    border: 0;
    height: 0;
    border: white;
  }

.content {
    border: 5px solid black;
    background-color: #f14d4f;
    margin: 22rem;
    border-radius: 3%;
}