@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(154, 241, 143);
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  padding: 0 30px;
  max-height: 50rem;
}

.container > div {
  height: 34px;
  width: 34px;
  background-color: white;
  border: 1px solid rgb(182, 181, 181);
}

.container > div:nth-child(17n + 1) {
  width: 100%;
  border: 0;
  height: 0;
  border: white;
}

.content {
  border: 5px solid black;
  background-color: #f14d4f;
  margin: 22rem;
  border-radius: 3%;
  max-width: 1100px;
  margin-bottom: 0 auto;
  padding: 0 50px;
}

.header-text {
  font-size: 18px;
  color: rgb(243, 230, 46);
  margin-top: 10px;
  font-family: "Press Start 2P", cursive, Verdana, Geneva, Tahoma, sans-serif;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px;
}

.selectGridContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
  border: 2px solid hotpink;
}

.buttonStyle {
  display: flex;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  padding: 12px 24px;
  border: 0;
  color: #000021;
  background: #4ad7f0;
  box-shadow: 10px 5px;
  font-size: 18px;
  font-family: "Press Start 2P", cursive, Verdana, Geneva, Tahoma, sans-serif;
}

.buttonStyle:hover {
  transition: all .1s ease;
  box-shadow: 0 0 0 0 #fff, 0 0 0 3px #000000;
}