@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(154, 241, 143);
  text-align: center;
}

.container {
  margin-top: 40px;
  margin-bottom: 20px;
  display: inline-grid;
  grid-template-columns: repeat(16, 2fr);
  grid-template-rows: repeat(16, 2fr);
  border: 3px solid black;
  border-radius: 5px;
  height: 550px;
  width: 550px;
  background-color: #fff;
}

.container > div {
  border: 1px solid rgb(160, 158, 158);
}


.content {
  border: 5px solid black;
  background-color: #f14d4f;
  border-radius: 3%;
  text-align: center;
  margin: 3rem;
  padding: 0 10rem 0 10rem;
}

.header-text {
  font-size: 20px;
  color: rgb(243, 230, 46);
  margin-top: 15px;
  font-family: "Press Start 2P", cursive, Verdana, Geneva, Tahoma, sans-serif;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px;
}

.selectGridContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}


.buttonStyle {
  display: flex;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  padding: 12px 24px;
  margin: 0 13px 0 13px;
  border: 0;
  color: #000021;
  background: #59d8ee;
  box-shadow: 10px 5px;
  font-size: 18px;
  font-family: "Press Start 2P", cursive, Verdana, Geneva, Tahoma, sans-serif;
}

.buttonStyle:hover {
  transition: all .1s ease;
  box-shadow: 0 0 0 0 #fff, 0 0 0 3px #000000;
}

#quantity {
  background: #4ad7f0;
  box-shadow: 10px 5px;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 9px;
  text-align: center;
  box-shadow: none;
}


#eraser {
  background-color: #fff;
}

#rainbow {
  background-image: linear-gradient( 102.4deg,  rgba(253,189,85,1) 7.8%, rgba(249,131,255,1) 100.3% );
}

#clear {
  background-image: radial-gradient( circle farthest-corner at 50.7% 54%,  rgba(204,254,152,1) 0%, rgba(229,253,190,1) 92.4% );
}


#black {
  background-image: linear-gradient(to right top, #edeeeb, #c5c6c3, #9fa09c, #7a7c76, #575953);
}


#selectBtn {
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(0,172,255,1) 0%, rgba(82,119,247,1) 100%);

}

.value {
  margin-top: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
